body {
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    background: #2C8C99;
}
.genBtn {
    background: #326771;
    text-align: center;
    width: 6%;
    margin: 3%;
    margin-left: 47%;
    padding: 5px 20px;
    border-radius: 6px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}
.genBtn:target {
    position: relative;
    top: 4px;
    border: none;
    padding-bottom: 4px;
}
.imgContainer {
    width: 60%;
    margin-left: 20%;
    border-radius: 6px;
}
#zeCanvas {
    border-radius: 6px;
}
.legend {
    position: absolute;
    margin: 20px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.lrg {
    margin-left: 9px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
}
.med {
    margin-left: 14px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
}
.sm {
    margin-left: 19px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
}
.xs {
    margin-left: 24px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);
}